<!-- <div class="container">
   <div class="row">  
        <div class="col-md-3">  
              <img src="/assets/images/angularPic.png" style="width:100px;height:70px" class="col-md-6" alt="">
              <span class="col-md-5"> Ng-book2</span>  
        </div>
       
        <div class="col-md-9">
          <h2 class="pull-left" style="margin-top:4.5%;">Inventory Application</h2>
        </div>  
  </div> 
   <hr>
   <div  class="inventory-app">
    <app-products-list [listeProduit]="produit"
      (onProductSelected) = "productWasSelected($event)"
    ></app-products-list>
   </div>
</div> -->
<!-- 
<div class="container" >

  <div class="row">
      <h5>NG-IF</h5>
      <p *ngIf="testif == 0">Afficher si la variable est egale a zero(0)</p>
  </div>
  <div class="row">
      <h5>NG-SWITCH CASE</h5>
      <span [ngSwitch]="testSwitchCase">
          <p *ngSwitchCase=5>On a Cinq</p>
          <p *ngSwitchCase=6> On a six </p>
          <p *ngSwitchDefault>On a rien </p>
      </span> 
  </div>

  <div class="row">
      <h5>NG-FOR</h5>
      <p *ngFor="let item of list_capital; let i=index">
         <span *ngIf="i%2 == 0" [ngStyle]="{'background-color': color}" > {{ item }} </span>
         <span *ngIf="i%2  > 0" [ngStyle]="{'background-color': 'gray'}" > {{ item }} </span>
      </p>

      <u><h6>Deuxieme</h6></u>
      <div class="row" *ngFor="let uncapital of list_est_habitant; let i = index">
         <label for=""> <u> {{i+1}}) <b> {{ uncapital.city }} </b> </u></label>
          <table class="table table-condensed">
            <thead>
              <tr>
                  <th>Nom</th>
                  <th>Age</th>
                  <th>Level</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let people of uncapital.people">
                  <td> {{people.name}} </td>
                  <td> {{people.age}} ans </td>
                  <td> {{people.level}} </td>
              </tr>
            </tbody> 
          </table>
      </div>
      
  </div>
   <div class="row">
          <div class="ui col-md-3">
                <input type="text" placeholder="Give font color" class="form-control" name="color" id="color" value="{{ color }}" #colorInput>
          </div>
          <div class="ui col-md-3">
                <input type="text" placeholder="Give size" class="form-control" name="fontSize" id="fontSize" value="{{ fontSize }}" #fontSizeInput>
          </div>
          <button class="btn btn-primary  col-md-3"
            (click)="apply(colorInput.value, fontSizeInput.value)"
            >
              Aplply Settings
          </button>

          <div [ngClass]="{'bordered': isborderd}">
                <p [ngStyle]="{'color':color , 'font-size': fontSize+'px'}">
                  Le test ecrit et bien designer avec angular {{ isborderd?'Avec Des bordures':'' }}
                </p>
          </div>
   </div>
   
 
</div>
  -->

  <!-- forms modules -->
  <div class="container">
       <div class="row">
             <div class="col-md-2"></div>
             <div class="col-md-8"  style="border-radius: 5px; border: 0.2rem solid salmon; margin-top: 10px;">
               <form  
                 #f="ngForm"
                 (ngSubmit) = "onSubmit(f.value)"
                 >
                 <!-- <form  
                  [formGroup] = "myform"
                  (ngSubmit) = "onSubmit(myform.value)"
                  > -->
                  <h2>Demo Form : SKU</h2>
                    <div class="form-group">
                        <label for="">SKU:</label>
                        <input type="text" 
                           placeholder="Give SKU" 
                           id="sku" 
                           name="SKU_input"
                           ngModel >
                    </div>
                    <div class="form-group" style="margin-top: 5px;">
                      <button type="submit" class="btn btn-secondary pull-right"> Submit </button>
                    </div> 
                </form>
             </div>
             <div class="col-md-2"></div>
       </div>
  </div>